* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 4rem;
  background-image: url("../img/basic_bg.png");
}

.container {
  background-color: #fff;
  box-shadow: 0 3px 3px #ebebeb;
  padding: 1rem;
}

.separator-horizontal {
  margin: .5rem 0;
  width: 100%;
  border-top: 1px dotted #B0B0B0;
}

header {
  width: 100%;
  background-color: #277AD9;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px #267AD9, inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}
header h1, header h2, header h3, header h4 {
  display: inline-block;
}

footer {
  background-color: #2d2d2d;
  color: #999;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

input[type="text"] {
  padding: .2rem;
  margin: .1rem 0;
}
input[type="text"].error {
  outline: 0 none;
  border: 2px solid #E88484;
  background-color: #FFBABA;
  color: #D8000C;
}

fieldset {
  padding: .5rem 0;
}

#generated-url {
  width: 100%;
}

#url-copy-trigger {
  margin: 0;
}

.container + .container {
  margin-top: 1rem;
}

.info {
  color: #333;
  font-size: .8rem;
}

span.error {
  color: #C92020;
  font-size: .8rem;
}